{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="{% static "img/webicon.png" %}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Pastel Programmer</title>

        <!-- Icon css link -->
        <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "css/icofont.css" %}" rel="stylesheet">
        <link href="{% static "vendors/linear-icon/style.css" %}" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="{% static "vendors/revolution/css/settings.css" %}" rel="stylesheet">
        <link href="{% static "vendors/revolution/css/layers.css" %}" rel="stylesheet">
        <link href="{% static "vendors/revolution/css/navigation.css" %}" rel="stylesheet">
        <link href="{% static "vendors/animate-css/animate.css" %}" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="{% static "vendors/magnific-popup/magnific-popup.css" %}" rel="stylesheet">
        <link href="{% static "vendors/owl-carousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
        <link href="{% static "vendors/swiper/css/swiper.min.css" %}" rel="stylesheet">
        <link href="{% static "vendors/flipster-slider/jquery.flipster.min.css" %}" rel="stylesheet">
        
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "css/responsive.css" %}" rel="stylesheet">
        <link href="{% static "css/jquery.DonutWidget.min" %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="100">
       
       <div id="preloader">
            <div id="preloader_spinner">
				<div class="pre_inner">
					<div class="dot dot-1"></div>
					<div class="dot dot-2"></div>
					<div class="dot dot-3"></div>
				</div>
            </div>
        </div>
       
        <!--================Header Area =================-->

        <header class="dash_tp_menu_area nine_menu">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="{% static "img/weblogo.png" %}" alt=""></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#about">Home</a></li>
                            <li><a href="#feature">Profil</a></li>
                            <li><a href="#screenshot">Produk</a></li>
                            <li><a href="#screenshot">Kontak</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </header>
        <!-- Header -->
<!--         <header class="dash_tp_menu_area nine_menu">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a class="logo" href="index.html">
                        <img src="img/weblogo.png" alt="logo">
                    </a>
                </div>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#feature">Home</a></li>
                        <li><a href="#feature">Profile</a></li>
                        <li><a href="#screenshot">Produk Kami</a></li>
                        <li><a href="#team">Contact</a></li>
                    </ul>
                </div>
            </div>
        </header> -->

        <!-- /Header -->
       
        <section class="slider_two_area" id="home">
            <div id="main_slider_ten" class="rev_slider" data-version="5.3.1.6">
                <ul> 
                    <li data-index="rs-2973" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <!-- LAYERS -->
                        <div  class="slider_text_box">
                            <div style="color: #e9ab17" class="tp-caption first_text" 
                            data-x="['right','right','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['20','20','0','0']" 
                            data-voffset="['-100','-100','-100','-100']" 
                            data-fontsize="['20','20','20','20','20']" 
                            data-lineheight="['30','30','30','30','30']"
                            data-width="['none','none','none','100%','100%']"
                            data-height="none"
                            data-whitespace="['nowrap','nowrap','nowrap','normal']"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
                            data-textAlign="['right','right','right','center']">
                            Selamat Datang !!!</div>
                            
                            <div style="color: #e9ab17" class="tp-caption secand_text" 
                            data-x="['right','right','center','center']" 
                            data-y="['middle','middle','middle','middle']" 
                            data-hoffset="['25','36','0','0']" 
                            data-voffset="['-10','0','0','0','-20']"  
                            data-fontsize="['60','40','40','40','30']"
                            data-lineheight="['60','50','50','50','40']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['right','right','center','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]">Mari buat Website/WebApp<br />bersama Pastel Programmer</div>
                            <div class="tp-caption third_text" 
                                data-x="['right','right','center','center','center']" 
                                data-y="middle" 
                                data-hoffset="['20','0','0','0']" 
                                data-voffset="['120','120','120','120','105']"
                                data-fontsize="['16','16','28','28']"
                                data-lineheight="['28','28','38','38']"
                                data-width="['450','840','820','600','450','350','380']"
                                data-height="none"
                                data-transform_idle="o:1;"
                                data-whitespace="normal"
                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                data-start="800" 
                                data-splitin="none" 
                                data-splitout="none" 
                                data-responsive_offset="on" 
                                data-elementdelay="0.05" 
                                data-textAlign="['right','right','center','center']">
                            </div>
                            <div class="tp-caption tp-resizeme rs-parallaxlevel-2 ten_mobile" 
                                data-x="['-50','-50','-50','-50']" 
                                data-hoffset="['0','0','0','0']" 
                                data-y="['bottom','bottom','bottom','bottom']" 
                                data-voffset="['0','0','0','0']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-type="image" 
                                data-responsive_offset="on" 
                                data-frames='[{"from":"x:right(R);","speed":800,"to":"o:1;","delay":750,"ease":"Power4.easeOut"},{"delay":"wait","speed":800,"to":"x:left(R);","ease":"Power4.easeIn"}]'
                                data-textAlign="['left','left','left','left']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 5;"><img src="" alt="" data-no-retina> 
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--================End Header Area =================-->
        
        
        <!--================Powerfull Area =================-->
        <section class="ten_powerfull_area p_100" id="about"> 
        	<div class="container">
        		<div class="ten_title">
        			<h2>Tentang<span> Pastel Programmer</span></h2>
        			<p>Siapa kami?</p>
        		</div>
        		<div class="ten_perfomance">
        			<div class="row">
        				<div class="col-md-6">
        					<div class="ten_p_img">
        						<img src="{% static "img/pic1.png" %}" alt="">
        					</div>
        				</div>
        				<div class="col-md-6">
        					<div class="ten_p_text">
        						<h3>Kami adalah programmer profesional, menawarkan jasa pembuatan website dan aplikasi berbasis web untuk anda.</h3>
        					</div>
        				</div>
        			</div>
        		</div>
                <div class="powerfull_inner">
                    <h2>Kenapa harus<span> Pastel Programmer?</span></h2>
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="pw_item">
                                <i class="fa fa-money"></i>
                                <h4>Harga Terjangkau</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="pw_item">
                                <i class="icofont icofont-clock-time"></i>
                                <h4>Mudah dan Cepat</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="pw_item">
                                <i class="icofont icofont-computer"></i>
                                <h4>Desain Menarik</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="pw_item">
                                <i class="icofont icofont-responsive"></i>
                                <h4>Tampilan Responsive</h4>
                            </div>
                        </div>
                    </div>
                </div>
        	</div>
        </section>
        <!--================End Powerfull Area =================-->

        <!--================Ten Price Area =================-->
        <section class="ten_price_area p_100" id="price">
        	<div class="container">
                <div class="ten_title">
                    <h2>Produk<span> Pastel Programmer</span></h2>
                    <p>Berikut beberapa produk yang kami tawarkan</p>
                </div>
        		<div class="row ten_price_list_inner">
        			<div class="col-md-4 col-xs-6">
        				<div class="ten_price_item">
							<div class="ten_price_item_box">
								<div class="ten_p_head">
									<h3>Website Pribadi</h3>
									<h2><span>mulai dari </span>150 rb</h2>
								</div>
								<img src="{% static "img/res-img.png" %}">
							</div>
       						<a class="ten_p_btn" href="#"><span>Lihat Lebih</span></a>
        				</div>
        			</div>
        			<div class="col-md-4 col-xs-6">
        				<div class="ten_price_item">
							<div class="ten_price_item_box">
								<div class="ten_p_head">
									<h3>Website Desa</h3>
									<h2><span>mulai dari </span>150 rb</h2>
								</div>
                                <img src="{% static "img/res-img.png" %}">
							</div>
                            <a class="ten_p_btn" href="#"><span>Lihat Lebih</span></a>
        				</div>
        			</div>
        			<div class="col-md-4 col-xs-6">
        				<div class="ten_price_item">
							<div class="ten_price_item_box">
								<div class="ten_p_head">
									<h3>Website Sekolah</h3>
									<h2><span>mulai dari </span>150 rb</h2>
								</div>
                                <img src="{% static "img/res-img.png" %}">
							</div>
                            <a class="ten_p_btn" href="#"><span>Lihat Lebih</span></a>
        				</div>
        			</div>

                    <div class="col-md-4 col-xs-6" style="margin-top: 5%">
                        <div class="ten_price_item">
                            <div class="ten_price_item_box">
                                <div class="ten_p_head">
                                    <h3>Website Perusahaan</h3>
                                    <h2><span>mulai dari </span>200 rb</h2>
                                </div>
                                <img src="{% static "img/res-img.png" %}">
                            </div>
                            <a class="ten_p_btn" href="#"><span>Lihat Lebih</span></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6" style="margin-top: 5%">
                        <div class="ten_price_item">
                            <div class="ten_price_item_box">
                                <div class="ten_p_head">
                                    <h3>Website Komunitas</h3>
                                    <h2><span>mulai dari </span>150 rb</h2>
                                </div>
                                <img src="{% static "img/res-img.png" %}">
                            </div>
                            <a class="ten_p_btn" href="#"><span>Lihat Lebih</span></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6" style="margin-top: 5%">
                        <div class="ten_price_item">
                            <div class="ten_price_item_box">
                                <div class="ten_p_head">
                                    <h3>Sistem Informasi Akademik</h3>
                                    <h2><span>mulai dari </span>250 rb</h2>
                                </div>
                                <img src="{% static "img/res-img.png" %}">
                            </div>
                            <a class="ten_p_btn" href="#"><span>Lihat Lebih</span></a>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-6" style="margin-top: 5%">
                        <div class="ten_price_item">
                            <div class="ten_price_item_box">
                                <div class="ten_p_head">
                                    <h3>Sistem Menejemen Perusahaan</h3>
                                    <h2><span>mulai dari </span>250 rb</h2>
                                </div>
                                <img src="{% static "img/res-img.png" %}">
                            </div>
                            <a class="ten_p_btn" href="#"><span>Lihat Lebih</span></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6" style="margin-top: 5%">
                        <div class="ten_price_item">
                            <div class="ten_price_item_box">
                                <div class="ten_p_head">
                                    <h3>Sistem Menejemen Rumah Sakit</h3>
                                    <h2><span>mulai dari </span>250 rb</h2>
                                </div>
                                <img src="{% static "img/res-img.png" %}">
                            </div>
                            <a class="ten_p_btn" href="#"><span>Lihat Lebih</span></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6" style="margin-top: 5%">
                        <div class="ten_price_item">
                            <div class="ten_price_item_box">
                                <div class="ten_p_head">
                                    <h3>Toko Online</h3>
                                    <h2><span>mulai dari </span>250 rb</h2>
                                </div>
                                <img src="{% static "img/res-img.png" %}">
                            </div>
                            <a class="ten_p_btn" href="#"><span>Lihat Lebih</span></a>
                        </div>
                    </div>
        		</div>
        	</div>
        </section>
        <!--================End Ten Price Area =================-->
        
        <!--================CARA PESAN Area =================-->
        <section class="cara_pesan_area">
        	<div class="container">
        		<div class="ten_title" style="text-align: center;">
					<h2>Cara <span>Pemesanan</span></h2>
        			<p>Bagaimana cara anda mendapatkan web dari kami?</p>
        		</div>
<!--                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-3 col-md-3 single-skill">
                        <div class="skill1 d-block mx-auto"></div>
                        <h4>Wireframing</h4>
                    </div>
                    <div class="col-lg-3 col-md-3 single-skill">
                        <div class="skill2 d-block mx-auto"></div>
                        <h4>User Research</h4>
                    </div>
                    <div class="col-lg-3 col-md-3 single-skill">
                        <div class="skill3 d-block mx-auto"></div>
                        <h4>User Experience</h4>
                    </div>
                    <div class="col-lg-3 col-md-3 single-skill">
                        <div class="skill4 d-block mx-auto"></div>
                        <h4>User Experience</h4>
                    </div>                                                              
                </div>
 --> 
                <div class="row">
                    <div class="col-lg-3">
                      <div class="pesan">
                        <span class="icofont icofont-ui-chat"></span>
                        <p style="font-size: 20px; font-weight: bolder;">
                          Diskusi
                        </p>
                        <p style="color:black">
                          Diskusikan website yang anda inginkan
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="pesan">
                            <span class="fa fa-share-square"></span>
                            <p style="font-size: 20px; font-weight: bolder;">
                              Kirim Data/Konten
                            </p>
                            <p style="color:black">
                              Anda mengirimkan konten untuk website anda seperti identitas, foto, video atau konten lainnya sesuai kebutuhan
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="pesan">
                        <span class="fa fa-usd"></span>
                            <p style="font-size: 20px; font-weight: bolder;">
                              Pembayaran
                            </p>
                            <p style="color:black">
                              Pembayaran dilakukan secara langsung maupun transfer via bank
                            </p>
                      </div>
                    </div>   
                    <div class="col-lg-3">
                      <div class="pesan">
                        <span class="fa fa-share-alt-square"></span>
                        <p style="font-size: 20px; font-weight: bolder;">
                          Website sudah jadi
                        </p>
                        <p style="color:black">
                          Website anda sudah siap
                        </p>
                      </div>
                    </div>                        
                </div>
            </div>
        </section>
        <!--================End CARA PESAN Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="ten_footer_area">
            <div class="ten_footer_widget">
            	<div class="container">
            		<div class="row">
            			<div class="col-md-3 col-xs-6">
            				<aside class="t_f_widget t_ab_widget"> 
            					<img src="" alt="">
            					<h4>PASTEL PROGRAMMER</h4>
            					<p>Terima kasih telah mengunjungi website pastel programmer</a>
            				</aside>
            			</div>
            			<div class="col-md-4 col-xs-6">
            				<aside class="t_f_widget t_link_widget"> 
            					<div class="ten_f_title">
            						<h3>Refer Link</h3>
            					</div>
            					<ul>
            						<li><a href="#" style="color: #e9ab17;"></i> Home</a></li>
            						<li><a href="#" style="color: #e9ab17;">Profile</a></li>
            						<li><a href="#" style="color: #e9ab17;">Produk Kami</a></li>
            						<li><a href="#" style="color: #e9ab17;"></i> Contact</a></li>
            					</ul>
            				</aside>
            			</div>
            			<div class="col-md-5 col-xs-12">
            				<aside class="t_f_widget t_contact_widget"> 
            					<div class="ten_f_title">
            						<h3>Contact with us</h3>
            					</div>
            					<h4>Address</h4>
            					<h5>Phone :  +6289686306169</h5>
            					<p>E-mail :  programmerpastel@gmail.com</p>
            					<h6>Follow Us</h6>
            					<ul>
            						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
            					</ul>
            				</aside>
            			</div>
            		</div>
            	</div>
            </div>
            <div class="ten_f_copyright">
            	<div class="container">
            		<p class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
            	</div>
            </div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static "js/jquery-2.2.4.js" %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <!-- Rev slider js -->
        <script src="{% static "vendors/revolution/js/jquery.themepunch.tools.min.js" %}"></script>
        <script src="{% static "vendors/revolution/js/jquery.themepunch.revolution.min.js" %}"></script>
        <script src="{% static "vendors/revolution/js/extensions/revolution.extension.video.min.js" %}"></script>
        <script src="{% static "vendors/revolution/js/extensions/revolution.extension.slideanims.min.js" %}"></script>
        <script src="{% static "vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
        <script src="{% static "vendors/revolution/js/extensions/revolution.extension.navigation.min.js" %}"></script>
        <!-- Extra Plugin -->
        <script src="{% static "vendors/parallax/jquery.parallax-scroll.js" %}"></script>
        <script src="{% static "vendors/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
        <script src="{% static "vendors/owl-carousel/owl.carousel.min.js" %}"></script>
        <script src="{% static "vendors/counterup/waypoints.min.js" %}"></script>
        <script src="{% static "vendors/counterup/jquery.counterup.min.js" %}"></script>
        <script src="{% static "vendors/isotope/imagesloaded.pkgd.min.js" %}"></script>
        <script src="{% static "vendors/isotope/isotope.pkgd.min.js" %}"></script>
        <script src="{% static "vendors/flexslider/flex-slider.js" %}"></script>
        <script src="{% static "vendors/flexslider/mixitup.js" %}"></script>
        <script src="{% static "vendors/nice-selector/jquery.nice-select.min.js" %}"></script>
        <script src="{% static "vendors/swiper/js/swiper.min.js" %}"></script>
        <script src="{% static "vendors/flipster-slider/jquery.flipster.min.js" %}"></script>
        
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="{% static "js/gmaps.min.js" %}"></script>
        
        <script src="{% static "js/theme.js" %}"></script>
    </body>
</html>